$main-display: flex;
$main-content: center;

@mixin display($display, $content) {
    display: $display;
    justify-content: $content;
}




.header_navbar {
    @include display($main-display, $main-content);
    height: 5rem;
    background-color: #FFB1B2;



    .inner {
        @include display($main-display, $main-content);
        width: 64rem;
        padding: 1rem;



        .nav_item {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            color: black;
            font-size: 1.5rem;
            font-weight: 900;
            text-decoration: none;
        }

        a:hover {
            color: white;
        }
    }
}