.header_navbar {
    background-color: #FFB1B2;
    height: 4rem;
    display: flex;
    justify-content: center;
  


    .inner{
        // background-color: yellow;
        width: 756px;
        display: flex;
        justify-content: center;
        padding: 1rem;

    

        .nav_item {
        // background-color: green;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-decoration: none;
        color: black;
        font-size: 1.5rem;
        font-weight: bolder;
        }

        a:hover{
            color: white;
        }
    } 
}