.footer {
    display: flex;
    justify-content: center;
    height: 6rem;
    background-color: #434343;


    .inner {
        display: flex;
        justify-content: space-between;
        width: 60rem;
        padding: 1rem 1rem;

        .left {
            display: flex;

            .row {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-left: 2rem;

                .row_top {
                    display: flex;
                    justify-content: flex-start;


                    .row_top_1 {
                        color: #D3D3D3;
                        font-size: 1.3rem;
                        text-decoration: none;
                    }

                    .row_top_2 {
                        color: #D3D3D3;
                        font-size: 1.3rem;
                        text-decoration: none;
                        padding-left: 1rem;
                    }
                }

                .row_bottom {

                    .copyright {
                        color: #8F8F8F;
                        font-size: 1.1rem;
                    }
                }
            }

            .img_container {
                display: flex;
                align-items: center;

                .img {
                    width: 50px;
                }
            }

        }

        .right {
            display: flex;
            align-items: center;

            select {
                font-size: 1.3em;
            }
        }


    }

}