.main_banner {
    // background-color: yellow;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .swiper .swiper-pagination-bullet {
        background-color: #FB4CA0;
      }

    .banner {
        // background-color: green;
        height: 25rem;
    width: 60rem;
    object-fit: cover;
    padding: 0px 2rem;
    padding-top: 1rem;

    
 

    .chart_banner{
        // background-color: red;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        
    img {
        height: 15rem;
        width: 100%;
        border-radius: 0.5rem;
    }

    button {
        width: 5rem;
        height: 2rem;
        color:#FB4CA0;
        border: 1.5px solid #FB4CA0;
        border-radius: 1.2rem;
        margin-top: -0.3rem;
        font-weight: bolder;
        cursor: pointer;
    }

    .banner_bottom{
        height: 5rem;
        display: flex;
        flex-direction: column;
       

        .row_top{
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;

            .text_top{
                font-size: 1.2rem;
                font-weight: bolder;
            }
        }

        .row_bottom{
            display: flex;
            justify-content: flex-end;
            padding: 0.5rem;
            padding-top: 0;

        }
    }
    
}
}
}