
.main_contents {
    // background-color: green;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2rem;
        

    .contents{
        // background-color: yellow;
        width: 56rem;
        padding: 2rem 2rem;
        border-radius: 0.8rem;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        .chart_container {
        
            .indicator {
                // background-color: blue;
                display: flex;
                justify-content: space-between;
                
                .chart_genre_name {
                    font-size: 2.0rem;
                    font-weight: bolder;
                    padding: 0.5rem 0;
                }
    
                .chart_resultDatetime {
                    font-size: 1.2rem;
                    font-weight:bold;
                    color: rgb(106, 106, 106);
                }
    
                .right {
                    display: flex;
                    align-items: center;
                    padding-right: 1rem;
                    
                    .stat {
                        font-size: 1.5rem;
                        font-weight:700;
                        color: rgb(106, 106, 106);
                    }
            }
            }
            
            .rank_data {
                // background-color: aqua;
                padding-top: 2rem;
                bottom: 0;
    
              .rank_data_container {
                display: flex;
                justify-content: space-between;
    
                .left {
                    display: flex;
                    width: fit-content;
    
    
                        .img {
                        display: block;
                        object-fit: cover;
                        width: 5rem;
                        height: 5rem;
                        border-radius: 0.8rem;
                    }
    
    
                    .rank_container {
                        width: 40px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0rem 1rem;
    
                        .rank {
                            font-size: 1.7rem;
                            font-weight: 700;
                            color: rgb(65, 65, 65);
                        }
                    }
    
                    .name_container {
                        display: flex;
                        align-items: center;
                        padding-right: 1rem;
                        
                        .name {
                            font-size: 1.5rem;
                            font-weight: bold;
    
                        }
                    }
        
                }
    
    
                .right {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
    
    
                    .stat {
                        font-size: 1.3rem;
                        font-weight:700;
                        color: rgb(106, 106, 106);
    
                    }
                }
            }  
            }
        }
    
        
  @media screen and (max-width: 768px)  {
        
    
    .chart_container {
        
        .indicator {
            // background-color: blue;
            display: flex;
            justify-content: space-between;
            
            .chart_genre_name {
                font-size: 1.8rem;
                font-weight: bolder;
                padding: 0.5rem 0;
            }

            .chart_resultDatetime {
                font-size: 1rem;
                font-weight:bold;
                color: rgb(106, 106, 106);
            }

            .right {
                display: flex;
                align-items: center;
                padding-right: 1rem;
                
                .stat {
                    font-size: 1rem;
                    font-weight:700;
                    color: rgb(106, 106, 106);
                }
        }
        }
        
        .rank_data {
            // background-color: aqua;
            padding-top: 1.5rem;
            bottom: 0;

          .rank_data_container {
            display: flex;
            justify-content: space-between;

            .left {
                display: flex;
                width: fit-content;


                    .img {
                    display: block;
                    object-fit: cover;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 0.8rem;
                }


                .rank_container {
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0rem 2rem;

                    .rank {
                        font-size: 1.7rem;
                        font-weight: 700;
                        color: rgb(65, 65, 65);
                    }
                }

                .name_container {
                    display: flex;
                    align-items: center;
                    
                    .name {
                        font-size: 1.4rem;
                        font-weight: bold;

                    }
                }
    
            }


            .right {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                width: 50px;


                .stat {
                    font-size: 1.3rem;
                    font-weight:700;
                    color: rgb(106, 106, 106);

                }
            }
        }  
        }
    }
  }
}
    } 